<h2>Details for: <%= @card.name %> </h2>

<p><b>Layout: </b><%= @card.layout %></p>
<p><b>Power: </b><%= @card.power %></p>
<p><b>Toughness: </b><%= @card.toughness %></p>

<p>List of users who have this card:</p>
<ul>
    <% @card.users.each do |user| %>    
    <li><%= link_to user.name, user %></li>
    <% end %>
</ul>
