<!DOCTYPE html>
<html>
  <head>
    <title>IntroToRailsData</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/javascripts/search_helper.js"></script>
  </head>

  <body>
    <header>
      <h1>Intro to Rails Data Project</h1>
      <p>______________________________________________</p>
      <h4>
        <%= link_to "Home | ", root_path%>         
        <%= link_to "Team Colors | ", teamcolors_path%> 
        <%= link_to "Cards | ", cards_path%> 
        <%= link_to "About", about_path%> 
      </h4>
      <p>----------------------------------------------------------------------</p>
    </header>
    <%= yield %>
    <footer>
    <p>______________________________________________</p>
     <p>Student: Fabio Pereira</p>
    </footer>

  </body>
</html>
